.headerMovies { 
    background-image: url(../images/movies/themarvels_lob_mas_min_mob_01.jpg);
    color: #fff;
    width: 100vw;
    height: 30em;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
      
}
.marvelMoviesH2 { 
    text-align: center;
    
    width: 100vw;
   
    h2 { 
        margin-top: 2em;
        font-size: 2em;
        font-weight: bold;
    }

}
.gridMovies__container--flex {
    position: relative;
    width: 100vw;
    height: 80em;
    display: flex;
    justify-content: center;
    align-items: center;

    .gridMovies__container { 
        display: grid;
        height: 55em;
        width: 70vw;
        position: relative;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2em;
        grid-area: 
        "movie1" "movie2" "movie3"
        "movie4" "movie5" "movie6"
        ;
    
        .movie1 { 
            grid-area: "movie1";
            background-image: url(../images/movies/antman.jpg);
            background-size: contain;
        }
        .movie2 { 
            grid-area: "movie2";
            background-image: url(../images/movies/avengersendgame.jpg);
            background-size: contain;
        }
        .movie3 {
            grid-area: "movie3";
            background-image: url(../images/movies/avengersinfinitywar.jpg);
            background-size: contain;
        }
        .movie4 { 
            grid-area: "movie4";
            background-image: url(../images/movies/avengerssecretwars.jpg);
            background-size: contain;
        }
        .movie5 { 
            grid-area: "movie5";
            background-image: url(../images/movies/blackpantherwakandaforever_lob_crd_06.jpg);
            background-size: contain;
        }
        .movie6 { 
            grid-area: "movie6";
            background-image: url(../images/movies/themarvels_lob_mas_min_mob_01.jpg);
            background-size: contain; 

        }

    
    
    }
    

}
.buttoms { 
    margin-top: 1em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  

    p,a  { 
        display: inline-block;
        width: 2em;
        height: 2em;
        font-weight: 100;
         
    }


}
@media screen and (max-width: 1200px) {
    .marvelMoviesH2 { 
        h2 { 
            margin-bottom: 1em;

        }
    }

    .gridMovies__container--flex { 
        position: relative;
        width: 100vw;
        height: 80em;
        
       
        .gridMovies__container { 
            display: grid;
            height: 80em;
            width: 53vw;
            position: relative;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 4em;
            grid-area: 
            "movie1" "movie2" 
            "movie3" "movie4"
            "movie5" "movie6"
            ;
        
        }

    }
    
}
@media screen and (max-width:800px) {
    .marvelMoviesH2 { 
        h2 { 
            margin-bottom: 1em;

        }
    }
    .gridMovies__container--flex {
        position: relative;
        width: 100vw;
        height: 90em;
        display: flex;
        justify-content: center;
        align-items: center; 

        .gridMovies__container { 
            display: grid;
            height: 80em;
            width: 80vw;
            position: relative;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 3em;
            grid-area: 
            "movie1" "movie2" 
            "movie3" "movie4"
            "movie5" "movie6" 
             ;
        
        }

    }
    

    
}
@media screen and (max-width:520px) {
    .marvelMoviesH2 { 
        h2 { 
            margin-bottom: 1em;

        }
    }
    .gridMovies__container--flex { 
        width: 100vw;
        height: 200em;

        .gridMovies__container { 
            display: grid;
            height: 200em;
            width: 70vw;
            position: relative;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
            gap: 2em;
            grid-area: 
            "movie1" 
            "movie2" 
            "movie3"
            "movie4"
            "movie5" 
            "movie6" 
             ;
        
        }
    }
    .headerMovies {
        
         
        h1 { 
            backdrop-filter: blur( .3px);
            box-shadow: 0px 10px 10px 10px (rgba(43, 21, 21, 0.733));
            font-size: 1.2em;
            margin-bottom: 2em;

        }
        h2 {
            backdrop-filter: blur(2px);
            box-shadow: 0px 10px 10px 10px(rgba(10, 6, 6, 0.555));
            font-size: 1.2em;


        } 
    }
    
}