.headerMovies { 
    background-image: url(../images/movies/themarvels_lob_mas_min_mob_01.jpg);
    color: #000000;
    width: 100vw;
    height: 30em;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    .headerblur {
        width: 100%;
        background-color: rgba(240, 240, 240, 0.7);



        h1, h2{ 
            text-shadow: 3px -1px 6px rgba(0,0,0,0.85);
           
    
        }
    }

    
    
      
}

.marvelMoviesH2 { 
    text-align: center;
    width: 100vw;
    
   
    h2 { 
        
        margin-top: 2em;
        font-size: 2em;
        font-weight: bold;
    }

}
.gridMovies__container--flex {
    position: relative;
    width: 100vw;
    height: 80em;
    display: flex;
    justify-content: center;
    align-items: center;

    .gridMovies__container { 
        filter: drop-shadow(0px 40px 51px #000000);
        -webkit-filter: drop-shadow(0px 40px 51px #000000);
        -moz-filter: drop-shadow(0px 40px 51px #000000);
        display: grid;
        height: 55em;
        width: 70vw;
        position: relative;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2em;
        grid-area: 
        "movie1" "movie2" "movie3"
        "movie4" "movie5" "movie6"
        ;
    
        .movie1 { 
            grid-area: "movie1";
            background-image: url(../images/movies/antman.jpg);
            background-size: cover;
            background-position: center;
        }
        .movie2 { 
            grid-area: "movie2";
            background-image: url(../images/movies/avengersendgame.jpg);
            background-size: cover;
            background-position: center;
        }
        .movie3 {
            grid-area: "movie3";
            background-image: url(../images/movies/avengersinfinitywar.jpg);
            background-size: cover;
            background-position: center;
        }
        .movie4 { 
            grid-area: "movie4";
            background-image: url(../images/movies/avengerssecretwars.jpg);
            background-size: cover;
            background-position: center;
        }
        .movie5 { 
            grid-area: "movie5";
            background-image: url(../images/movies/blackpantherwakandaforever_lob_crd_06.jpg);
            background-size: cover;
            background-position: center;
        }
        .movie6 { 
            grid-area: "movie6";
            background-image: url(../images/movies/themarvels_lob_mas_min_mob_01.jpg);
            background-size: cover;
            background-position: center; 

        }

    
    
    }
    

}
.buttoms { 
    
    margin-top: 1em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  

    p,a  { 
        display: inline-block;
        width: 2em;
        height: 2em;
        font-weight: 100;
         
    }


}
@media screen and (max-width: 1200px) {
    .marvelMoviesH2 { 
        h2 { 
            margin-bottom: 1em;

        }
    }

    .gridMovies__container--flex { 
        position: relative;
        width: 100vw;
        height: 80em;
        
       
        .gridMovies__container { 
            display: grid;
            height: 80em;
            width: 53vw;
            position: relative;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 4em;
            grid-area: 
            "movie1" "movie2" 
            "movie3" "movie4"
            "movie5" "movie6"
            ;
        
        }

    }
    
}
@media screen and (max-width:800px) {
    .marvelMoviesH2 { 
        h2 { 
            margin-bottom: 1em;

        }
    }
    .gridMovies__container--flex {
        position: relative;
        width: 100vw;
        height: 90em;
        display: flex;
        justify-content: center;
        align-items: center; 

        .gridMovies__container { 
            display: grid;
            height: 80em;
            width: 80vw;
            position: relative;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 3em;
            grid-area: 
            "movie1" "movie2" 
            "movie3" "movie4"
            "movie5" "movie6" 
             ;
        
        }

    }
    .buttoms { 
    
        margin-top: 4em;
    }
    

    
}
@media screen and (max-width:520px) {
    .buttoms { 
    
        margin-top: 6em; 
    }
    .marvelMoviesH2 { 
        h2 { 
            margin-bottom: 1em;

        }
    }
    .gridMovies__container--flex { 
        width: 100vw;
        height: 200em;

        .gridMovies__container { 
            display: grid;
            height: 200em;
            width: 70vw;
            position: relative;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
            gap: 2em;
            grid-area: 
            "movie1" 
            "movie2" 
            "movie3"
            "movie4"
            "movie5" 
            "movie6" 
             ;
        
        }
    }
   
}