/*========GAMES==============*/
.headerSpiderman { 
    color: #fff;
    width: 100vw;
    height: 20em;
    background-image: url(../images/games/marvelsspiderman2header.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .headerSpidermanImg { 
        font-size: 1em;
    }
   
}

.allGames {
    display:block;
    width: 100vw;
    justify-content: center;
    display: flex;
    position: relative;
    margin-top: 1em;

    h2 {
        margin-top: 2em;
        font-size: 2em;
        font-weight: bold;
    }
}

.contenedor__galeriaJuegos {
    position: relative;
    width: 100vw;
    height: 80em;
    display: flex;
    justify-content: center;
    align-items: center;

    .contenedor__galeriaJuegos--1 { 
        filter: drop-shadow(0px 40px 51px #000000);
        -webkit-filter: drop-shadow(0px 40px 51px #000000);
        -moz-filter: drop-shadow(0px 40px 51px #000000);
        width: 70vw;
        height: 55em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 4em;
        grid-area: 
        "galeriajuegos1" "galeriajuegos2" "galeriajuegos3"
        "galeriajuegos4" "galeriajuegos5" "galeriajuegos6"
        ;
        .galeriajuegos1 {
            grid-area: "galeriajuegos1";
            background-image: url(../images/games/bacon.jpg);
            background-size: contain;
            background-position: center;
        }
        .galeriajuegos2 { 
            grid-area: "galeriajuegos2";
            background-image: url(../images/games/marvelpuzzlequest_lob_crd_02_4.jpg);
            background-size: cover;
            background-position: center;
        }
        .galeriajuegos3 { 
            grid-area:"galeriajuegos3";
            background-image: url(../images/games/marvelsavengers_lob_crd_01.jpg);
            background-size: cover;
            background-position: center;
        }
        .galeriajuegos4 { 
            grid-area: "galeriajuegos4";
            background-image: url(../images/games/marvelsguardiansofthegalaxy_lob_crd_02.jpg);
            background-size: cover;
            background-position: center;
        }
        .galeriajuegos5 { 
            grid-area: "galeriajuegos5";
            background-image: url(../images/games/marvelspidermangames.jpg);
            background-size: cover;
            background-position: center;
        }
        .galeriajuegos6 {
            grid-area: "galeriajuegos6";
            background-image: url(../images/games/msmmm_lob_crd_02.jpg);
            background-size: cover;
            background-position: center;
           
        }


    
    }
}

.buttons {
    display: inline-block;
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;

    a {     
        font-size: 1.2em;    
    }
    
}
 

@media screen and (max-width: 1100px){
    
    .contenedor__galeriaJuegos {
        position: relative;
        width: 100vw;
        height: 100em;
        display: flex;
        justify-content: center;
        align-items: center;

        .contenedor__galeriaJuegos--1 { 
            width: 70vw;
            height: 95%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 2em;
            row-gap: 4em;
            grid-area: 
            "galeriajuegos1" "galeriajuegos2" 
            "galeriajuegos3" "galeriajuegos4"
            "galeriajuegos5" "galeriajuegos6"
            ;
        
        }
    }
    .headerSpiderman {
        background-position: center;
    } 
    
}
@media screen and (max-width: 800px) { 
    .buttons { 
    
        margin-top: 4em;
    }
   
    .contenedor__galeriaJuegos {
        position: relative;
        width: 100vw;
        height: 90em;
        display: flex;
        justify-content: center;
        align-items: center;

        .contenedor__galeriaJuegos--1 { 
            width: 80vw;
            height: 80em;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            row-gap: 3em;
            grid-area: 
            "galeriajuegos1" "galeriajuegos2" 
            "galeriajuegos3" "galeriajuegos4"
            "galeriajuegos5" "galeriajuegos6"
        
            ;
        
        }
    }
    .headerSpiderman {
        background-position: center right;
    } 
    
    
}
@media screen and (max-width: 520px) {
  
    .contenedor__galeriaJuegos {
        position: relative;
        width: 100vw;
        height: 200em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
        .contenedor__galeriaJuegos--1 {
            display: grid;
            height: 200em;
            width: 70vw;
            position: relative;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
            gap: 2em;
            grid-area: 
            "galeriajuegos1" 
            "galeriajuegos2" 
            "galeriajuegos3"
            "galeriajuegos4"
            "galeriajuegos5" 
            "galeriajuegos6" 
             ;
        }
    }
    .headerSpidermanImg {
        p { 
            display: none;
        }

    } 
    .buttons { 
        gap: .8em;
        margin-top: 6em;
         a {     
            font-size: 1em;    
        }
    }
    
         
}