.headerTvShows { 
    background-image: url(../images/index/loki_s2_base_set_dsk_02.jpg);
    color: #fff;
    width: 100vw;
    height: 30em;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    h1, h2{
        font-size: 1.6em;
    }
}
.h3MarvelTv { 
    text-align: center;
    width: 100vw;
    
    h3 { 
        margin-top: 2em;
        font-size: 2em;
        font-weight: bold;
    }

}
.gridTvShows__flex { 
    position: relative;
    width: 100vw;
    height: 80em;
    display: flex;
    justify-content: center;
    align-items: center;

    .gridTvShows__grid { 
        filter: drop-shadow(0px 40px 51px #000000);
        -webkit-filter: drop-shadow(0px 40px 51px #000000);
        -moz-filter: drop-shadow(0px 40px 51px #000000);
        display: grid;
        height: 55em;
        width: 70vw;
        position: relative;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 4em;
        grid-area: 
        "Tvimg1" "Tvimg2" "Tvimg3"
        "Tvimg4" "Tvimg5" "Tvimg6"
        ;
        .Tvimg1 { 
            background-image: url(../images/tvshows/cloakanddagger_lob_crd_02_1.jpg);
            background-size: cover;
            
        }
        .Tvimg2 {
            background-image: url(../images/tvshows/daredevilss3_lob_crd_02.jpg);
            background-size: cover;

        }
        .Tvimg3 {
            background-image: url(../images/tvshows/echo_lob_crd_02.jpg); 
            background-size: cover;

        }
        .Tvimg4 {
            background-image: url(../images/tvshows/falcws_lob_crd_03.jpg);
            background-size: cover; 

        }
        .Tvimg5 { 
            background-image: url(../images/tvshows/hawkeye_lob_crd_04.jpg);
            background-size: cover;

        }
        .Tvimg6 { 
            background-image: url(../images/tvshows/loki_lob_crd_04.jpg);
            background-size: cover;

        }
    }
}
@media screen and (max-width: 1200px) {
    .h3MarvelTv {
        h3 { 
            margin-bottom: 1em;
        }
    }


    .gridTvShows__flex { 
        
        width: 100vw;
        height: 80em;
        margin-bottom: 3em;
        .gridTvShows__grid { 
            display: grid;
            height: 80em;
            width: 53vw;
            position: relative;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 2em;
            grid-area: 
            "Tvimg1" "Tvimg2" 
            "Tvimg3" "Tvimg4"
            "Tvimg5" "Tvimg6"
            ;
        
        }

    }
    
}
@media screen and (max-width:800px) {
    .h3MarvelTv {
        h3 { 
            margin-bottom: 1em;
        }
    }
    .gridTvShows__flex { 
        position: relative;
        width: 100vw;
        height: 90em;
        display: flex;
        justify-content: center;
        align-items: center;

        .gridTvShows__grid {
            display: grid;
            height: 80em;
            width: 80vw;
            position: relative;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 3em;
            grid-area: 
            "Tvimg1" "Tvimg2" 
            "Tvimg3" "Tvimg4"
            "Tvimg5" "Tvimg6" 
             ;
        }
    }

    
}
@media screen and (max-width:520px){
    .h3MarvelTv {
        h3 { 
            margin-bottom: 1em;
        }
    }


    .gridTvShows__flex{
        width: 100vw;
        height: 200em;


        .gridTvShows__grid { 
            display: grid;
            height: 200em;
            width: 70vw;
            position: relative;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
            gap: 2em;
            grid-area: 
            "Tvimg1" 
            "Tvimg2" 
            "Tvimg3"
            "Tvimg4"
            "Tvimg5" 
            "Tvimg6" 
             ;

        }
    }
    .headerTvShows { 
        h1, h2{
            font-size: 1.2em;
        }
        

    }
    
}